.air {
	background-color: var(--air1);
	overflow: hidden;
}
.padding {
	padding-left: 5%;
	line-height: 1.75;
}

.minigame {
	width: 120%;
	height: 300px;
	position: relative;
	overflow: hidden;
	margin-left: -3rem;
}

.smokes {
	position: relative;
}

.smoke {
	position: absolute;
	transition: opacity 0.4s ease-out;
	width: 30px;
}

.minicar {
	width: 100px;
	position: absolute;
	left: 40px;
	bottom: 0;
}

@keyframes rev {
	from {left: 37px;}
	50% {left: 43px;}
	to {left: 37px;}
}

@keyframes run {
	from {left: 40px;}
	to {left: 200vw;}
}

@keyframes return {
	from {left: -150px}
	to {left: 40px}
}