header {
	display: flex;
	justify-content: space-between;
	height: 100px;
	padding: 4px 8px;
}

nav {
	display: flex;
	justify-content: space-between;
}

.nav-item {
	width: 140px;
	text-align: center;
}

.nav-hover {
	width: 140px;
	list-style-type: none;
	display: none;
	white-space: nowrap;
}

.nav-item:hover .nav-hover{
	display: block;
	position: relative;
	bottom: 0;
}

.land {
	background-color: #476930;
}
.land2 {
	background-color: #86B049;
}
.land3 {
	background-color: #C8B88A;
}

.air {
	background-color: #1F2633;
}
.air2 {
	background-color: white;
}
.air3 {
	background-color: #ff6148;
}

.sea {
	background-color: #429EBD;
}
.sea2 {
	background-color: #053F5C;
}
.sea3 {
	background-color: #F7AD19;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: right;
	background-color: #eee;
	padding: 4px;
}