nav {
	display: flex;
}


.land {
	background-color: green;
}

.air {
	background-color: aquamarine;
}

.sea {
	background-color: blue;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: right;
}