:root {
	--land1: #476930;
	--land2: #86B049;
	--land3: #C8B88A;

	--air1: #1F2633;
	--air2: white;
	--air3: #ff6148;

	--sea1: #429EBD;
	--sea2: #053F5C;
	--sea3: #F7AD19;
}

html {
	scroll-behavior: smooth;
}

.App {
	font-family: 'Noto Sans', sans-serif;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	padding: 4px 8px;
	background: black;
	color: white;
}

nav {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.nav-item {
	height: 100%;
	width: 140px;
	text-align: center;
}

.nav-hover {
	width: 140px;
	list-style-type: none;
	display: none;
	white-space: nowrap;
}

.nav-item:hover .nav-hover {
	display: block;
	position: relative;
	bottom: 0;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	text-align: right;
	background-color: #eee;
	padding: 4px;
}
