.page h2 {
	padding-block: 6px;
	text-align: center;
}
.page {
	padding: 1rem;
}
.card {
	margin: 0 auto;
	width: 31.25%;
	height: 15rem;
	padding: 1rem;
	background: rgba(0, 0, 0, 0.274);
	border-radius: 1rem;
	overflow: hidden;
}

.card h2 {
	transform: translateY(230px);
	transition: transform ease-in 350ms;
}

.info {
	display: flex;
	gap: 1rem;
	padding-bottom: 1rem;
}

.card:hover h2 {
	transform: translateY(80px);
	transition: transform ease-in 350ms;
}

p {
	font-size: 15pt;
}
h2 {
	display: block
}

.minigame {
	width: 120%;
	height: 250px;
	position: relative;
	margin-left: -3rem;
}